 *{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
 }
 
 body{
    background-color: #12043E;
    color: aliceblue;
    font-family: var(--bs-body-font-family);
 }
 nav{
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: 80px;
   background-color:#280886;
 }
 .left {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
    
  font-size: 45px;
  color: rgb(250, 6, 156);
}
  
 nav ul{
  font-size: 25px;
   display:flex;
   justify-content: space-around;
   z-index: 2;
 }
 nav ul li{
   list-style: none;
   margin: 0 22px;
 }
 nav ul li a{
  text-decoration: none;
  color:  rgb(239, 49, 223);;
}
nav ul li a:hover{
   color: aliceblue;
   font-size:28px ;
}

 .right{
  color: rgb(225, 69, 212);
 }
 .purple{
  color: rgb(154, 91, 160);
 }
 .first{
   display: flex;
   justify-content: space-around;
   margin: 23px 0;
   align-content: center;
 }

.first div{
   width: 40%;
}
.leftsec{
   font-size: 3.5rem;
   padding:3rem;
   border-radius: 15px;
   margin: 30px;
   margin: 70px 0;
   color: #dec6f7;
}
.rightsec{
  padding:3rem;
  padding-left: 2.5rem;
}
.rightsec img{
    width: 95%;
     padding: 50px;
}
.intro{
  color: #b955e7;
  height: 3rem;
}
#element{
 justify-content: center;
 align-items: center;
 color: #dec6f7;
}
#line{
  background-color: white;
  width: 80%;
  justify-content:center;
  align-items: center;
  height: 0.8px;
  margin: auto;
}
.leftsec1{
  margin-top: 50px;
  padding: 20px;
}
.second{
  display: flex;
  justify-content: space-around;
}
.rightsec1{
  padding-top: 2rem;
  width:40%;
  font-size: 30px;
  font-family: "Gill Sans", sans-serif;
  color:#fc82fa;;
  
}
#space{
  margin-left: 10px;
   font-weight: 600px;
}
#font{
  color: aliceblue;
  font-size: 1.45rem;
}
.tab{
  width:80%;
  display:flex;
  justify-content:space-between;
  margin-top: 20px;
}
.tablinks{
 
  font-size: 1.3rem;
  position: relative;
}
.tablinks a:hover
{
  color: aliceblue;
}
.tablinks::after{
  content: '';
  width:0;
  height: 3px;
  background: #b40c60;
  position: absolute;
  left:0;
  bottom: -8px;
  transition: 0.5s;
}
.tablinks.activelink::after{
  width: 50%;
  color: #b955e7;
}
.contents ul li
{
  list-style: none;
  margin-top: 20px;
}
.c1{
  color: rgb(227, 204, 240);
  font-size: 15px;
}
.c2{
  color: #b40c60;
  font-size: 15px;
  margin-top: 30px;
}
.contents{
  display:none;
}
.contents.activecontent{
  display:block;
}
.s1{
  font-size: medium;
}
.subtitle
{
  display: flex;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-size: 45px;
  color: rgb(250, 6, 156);
  margin-top: 30px;
  border-left: 10px;
  padding-left: 50px; 
  justify-content: center;
   
}
.work{
  margin:40px;
  padding: 20px;
  display:flex;
  justify-content: space-evenly;
}
.work img{
   
  border-radius: 10px;
  transition: 0.5s;
}
.fa-solid fa-link
{
  color: aliceblue;
}

.l1{
  width:70%;
  height: 50%;
  background: linear-gradient(black,rgb(229, 53, 179));
  border-radius: 10px;
  display: flex;
  position: relative;
  left:0;
  bottom: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:0 40px;
  text-align: center;
}
 .l1.l2{
  width:75%;
 }
 .l1 a{
  margin-top: 20px;
  color: rgb(51, 6, 59);
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  background-color: azure;
  width: 30px;
  height:30px;
  border-radius: 50%;
  text-align: center;
 }
 .subtitle.s1{
  justify-content: left;
 }
  
 .b1{
  margin-left: 50px;
  padding: 10px;
 }
.leftcontact{
  margin-left: 8%;
  flex-basis: 35%;
}
 
 
.row{
  display:flex;
}
.rightcontact
{
  flex-basis: 60%;
}
.icon a{
  text-decoration: none;
  font-size:x-large;
  margin-right: 15px;
  color: aliceblue;
  display: inline-block;
  transform: 0.5s;
}
.icon a:hover{
  color: #b955e7;
}

.btn{
   
  -bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn.cv_btn {
  background-color: #F73D93;
  display: inline-block;
  color: white;
  font-size: 20px;
  padding: 5px 7px;
}
.btn.btn2
{
  display: inline-block;
  background-color: #F73D93;
  font-size: 20px;
  width: 100px;
}
.rightcontact form{
  width: 100%;
}
form input,form textarea{
  width: 80%;
  border: 0;
  outline: none;
  background: #f1c6f2;
  padding: 15px;
  margin: 15px 0;
  color: aliceblue;
  font-size: 18px;
   
}
.footer
{
  width:100%;
  height:20%;
  line-height:100px;
 background-color:#280886; 
}
.last{
   
  margin-left: 20px;
}
